.bg-dark {
	background-color: #7030a0 !important;
}

a {
	color: #0e7ed9;
	/*color: #689937; https://colordesigner.io/ */
}

.navbar-dark .navbar-nav .nav-link {
	color: rgba(255,255,255,.55);
	font-size: 1.05rem;
}

#blog-title {
	font-size: 1.6rem;
}

/* ToDo: more narrow == more readable
p, a, ul, li, h1, h2, h3, h4 {
	max-width: 780px;
}
*/