.bg-dark {
	background-color: #683799 !important;
}

a {
	color: #e67300;
	/*color: #689937; https://colordesigner.io/ */
}

.navbar-dark .navbar-nav .nav-link {
	color: rgba(255,255,255,.55);
	font-size: 1.05rem;
}

#blog-title {
	font-size: 1.6rem;
}

p, a, ul, li, h1, h2, h3, h4 {
	max-width: 780px;
}